<div class="container">
  <h3>Listado de Cursos</h3>

  <!-- Tabla para mostrar los cursos con estilos de Bootstrap -->
  <table style="width: 50%;" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">
        <td>{{ curso.nrc }}</td>
        <td>{{ curso.asignatura.nombre}}</td>
        <td style="width: 50px;"><button class="btn btn-secondary" (click)="evaluacion(alumnoId, curso.nrc)">Evaluacion</button></td>
      </tr>
    </tbody>
  </table>
  <button (click)="salir()" class="btn btn-danger">Salir</button>
</div>
