<!-- HTML para mostrar la pregunta actual y las opciones de respuesta -->
<button class="btn btn-danger" (click)="volver()">Volver</button>
<p style="font-size: 18px; text-align: center;"><b style="font-size: 18px;">{{ formulario.nombre }}</b><br></p>

<table border="0">
  <tr>
    <td [width]="500"><b>Evaluador: </b>{{ alumno.apellidos + " " + alumno.nombres }}</td>
  </tr>
  <tr>
    <td><b>Período: </b>{{ periodo.descripcion}}</td>
  </tr>
  <tr>
    <td><b>Asignatura: </b>{{ asignatura }}</td>
    <td><b>NRC: </b>{{ curso.nrc }}</td>
  </tr>
  <tr>
    <td><b>Docente evaluado: </b>{{ docente.apellidos + " " + docente.nombres}}</td>
    <td><b>ACTIVIDAD: </b>DOCENCIA</td>
  </tr>
</table>
<br>
<br>
<div *ngIf="preguntas && preguntas.length > 0">
  <div style="display: flex; justify-content: space-between; align-items: center; font-size: 18px;">
    <div style="text-align: left; flex-grow: 1;"> </div>
    <div style="text-align: center; flex-grow: 1;">
      Pregunta <strong>{{ preguntaActual + 1 }}</strong> de {{preguntas.length}}
    </div>
    <div style="text-align: right; flex-grow: 1;">
      Tiempo de lectura estimada: 00:{{ timer }}
    </div>
  </div>
  Leer y seleccionar la opción que mejor refleje su opinión para evaluar el desempeño del docente en la actividad correspondiente, utilizando la siguiente escala:<br><br>
  <div class="progressBar">
    <div class="innerBar" [style.width]="(preguntaActual + 1) / preguntas.length * 100 + '%'"></div>
  </div>

  <p style="font-size: 18px; text-align: center;"><b>{{ preguntaActual + 1 }}. {{ preguntas[preguntaActual].texto }}</b></p>
  <div class="radio-buttons">
    <label *ngFor="let opcion of opciones" class="radio-label">
      <input
        type="radio"
        name="respuesta{{ preguntaActual }}"
        [value]="opcion.valor"
        (change)="seleccionarRespuesta(opcion.valor)"
        [checked]="preguntas[preguntaActual].respuestaSeleccionada === opcion.valor"
      />
      <span>{{ opcion.texto }} </span>
    </label>
  </div>
  <br>
  <div style="text-align: center;">
    <button *ngIf="preguntaActual < preguntas.length - 1" class="btn btn-secondary" (click)="siguiente()" [disabled]="timer > 0 || !isSelectAnswer()">Siguiente</button>
    <button *ngIf="preguntaActual == preguntas.length - 1 " class="btn btn-secondary" (click)="guardar()" [disabled]="!isSelectAnswer()">Guardar</button>
  </div>    
</div>