<!-- HTML para mostrar la pregunta actual y las opciones de respuesta -->
<button class="btn btn-danger" (click)="volver()">Volver</button>
<p style="font-size: 18px; text-align: center;"><b style="font-size: 18px;">{{ formulario.nombre }}</b><br><br></p>
<p>
<b>Evaluador: </b>{{ alumno.apellidos + " " + alumno.nombres }}<br>
<b>Período: </b>{{ periodo.descripcion}}<br>
<b>Asignatura: </b>{{ asignatura }} <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NRC: </b>{{ curso.nrc }}<br>
<b>Docente evaluado: </b>{{ docente.apellidos + " " + docente.nombres}} </p>

<div *ngIf="preguntas && preguntas.length > 0">
  <p style="font-size: 18px; text-align: center;">Pregunta <strong>{{ preguntaActual + 1 }}</strong> de {{preguntas.length}}</p>
  <div class="progressBar">
    <div class="innerBar" [style.width]="(preguntaActual + 1) / preguntas.length * 100 + '%'"></div>
  </div>

  <p style="font-size: 18px; text-align: center;"><b>{{ preguntaActual + 1 }}. {{ preguntas[preguntaActual].texto }}</b></p>
  <div class="radio-buttons">
    <label *ngFor="let opcion of opciones" class="radio-label">
      <input
        type="radio"
        name="respuesta{{ preguntaActual }}"
        [value]="opcion.valor"
        (change)="seleccionarRespuesta(opcion.valor)"
        [checked]="preguntas[preguntaActual].respuestaSeleccionada === opcion.valor"
      />
      <span>{{ opcion.texto }} </span>
    </label>
  </div>
  <br>
  <div style="text-align: center;">
    <!--<button id="btnsiguiente" *ngIf="preguntaActual < preguntas.length - 1 " class="btn btn-secondary" (click)="siguiente()" [disabled]="botonDesactivado">Siguiente</button>-->
    <button  *ngIf="preguntaActual < preguntas.length - 1 " class="btn btn-secondary" (click)="siguiente()" [disabled]="!isSelectAnswer()">Siguiente</button>
    <button *ngIf="preguntaActual == preguntas.length - 1 " class="btn btn-secondary" (click)="guardar()" [disabled]="!isSelectAnswer()">Guardar</button>
  </div>    
</div>