body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.d-flex {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

nav {
  background-color: #0b5000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav .navbar-logo {
  width: 150px;
  height: auto;
  margin-left: 0;
  position: relative;
}


.content {
  margin-left: 20%;
  margin-top: 60px;
  flex-grow: 1;
}


nav .navbar-logo {
  width: 150px;
  height: auto;
  margin-left: 0;
  left: 5%;
  position: fixed;
  margin-top: 0;
  top: 2%;
}

nav {
  background-color: #0b5000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  margin: 0;
  z-index: 1000;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 4px 4px;
  margin: 0;
  left: 0;
}

nav a:hover {
  background-color: #0b5000;
  color: rgb(255, 255, 255);
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav .navbar-logo {
    width: 100%;
  }

  nav a {
    display: block;
    margin-bottom: 5px;
  }
}

body {
  font-family: Arial, sans-serif;
}

button {
background: linear-gradient(to top, #009742, #05ba5a);
color: white;

padding-left: 25px;
padding-right: 25px;
border: none;
border-radius: 5px;
cursor: pointer;

}

#sidebar {
  width: 20%;
  height: calc(100vh - 60px);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("https://srvcas.espe.edu.ec/authenticationendpoint/images/sidebar-4.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 100;
}