<div class="container">
    <button class="btn btn-danger" (click)="volver()">Volver</button>
    <h2 class="mb-5">COEVALUACIÓN DIRECTIVA</h2>
    <div class="table-responsive custom-table-responsive">
      <table class="table custom-table" style="text-align: center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">DOCENTE</th>
            <th scope="col">ACTIVIDAD</th>
            <th scope="col">HORAS</th>
            <th scope="col">ESTADO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="docentes.length == 0"><td colspan="5">NO EXISTEN REGISTROS</td></tr>
          <tr scope="row" *ngFor="let doc of docentes">
            <td>{{ doc.docId }}</td>
            <td>{{ doc.docente.nombres + " " + doc.docente.apellidos }}</td>
            <td>{{ funcion.descripcion.toUpperCase()}}</td>
            <td>{{ doc.horas}}</td>
            <td><button class="btn btn-secondary" (click)="evaluacion(doc.docId, 42, funcId)">Evaluar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br/>
  </div>