<div class="container">
    <h2>Opciones de Evaluación Docente</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Autoevaluación</h5>
            <p class="card-text">es tu momento para reflexionar sobre tu práctica pedagógica, identificar fortalezas y áreas de mejora, y tomar medidas para tu desarrollo profesional. 
                ¡Aprovecha esta oportunidad para crecer y destacar en tu trayectoria educativa!</p>
            <a href="#" class="btn btn-primary">Seleccionar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Evaluación en Pares</h5>
            <p class="card-text">es una emocionante oportunidad para recibir retroalimentación externa valiosa y avanzar en tu crecimiento profesional. 
                ¡Aprovecha esta experiencia para destacar tus fortalezas y recibir orientación constructiva!.</p>
            <a href="#" class="btn btn-primary">Seleccionar</a>
          </div>
        </div>
      </div>
</div>
