<div class="container">
  <h3>Evaluaciones</h3>
  <div class="row" *ngFor="let f of funciones">
    <div class="col-md-12">
      <div
        class="card"
        *ngIf="f.funcId == 'DOC' || f.funcId == 'INV' || f.funcId == 'GES'"
      >
        <div class="card-body">
          <h5 class="card-title">Autoevaluación {{ f.funcion.descripcion }} <button class="btn btn-primary" (click)="evaluacion(id, 21, f.funcId)">Evaluar</button></h5>
          <p class="card-text">
            Es tu momento para reflexionar sobre tu práctica pedagógica,
            identificar fortalezas y áreas de mejora, y tomar medidas para tu
            desarrollo profesional. ¡Aprovecha esta oportunidad para crecer y
            destacar en tu trayectoria educativa!
          </p>          
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let f of funciones">
    <div class="col-md-12">
      <div class="card" *ngIf="f.funcId == 'COR'">
        <div class="card-body">
          <h5 class="card-title">Coevaluación por pares <button class="btn btn-primary" (click)="evaluacionPares()" >Seleccionar</button></h5>
          <p class="card-text">
            Es una emocionante oportunidad para recibir retroalimentación
            externa valiosa y avanzar en tu crecimiento profesional. ¡Aprovecha
            esta experiencia para destacar tus fortalezas y recibir orientación
            constructiva!.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
