<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MI ESPE</a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="!userLoginOn" class="nav-item">
            <a class="nav-link" routerLink="/iniciar-sesion">Iniciar Sesión</a>
          </li>
          <li *ngIf="userLoginOn" class="nav-item">
            <a class="nav-link" (click)="logout()"  routerLink="/inicio">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
