<main>
    <!-- <button (click)="drawer.toggle()"> Menu </button> -->
    <span igxButton="icon" igxToggleAction="navigation">
      <igx-icon family="material">menu</igx-icon>
    </span>
    <div class="card text-center">
   
      <div class="card-header">
        Usuario:JONATHAN FABRICLLUMIQUINGA SOCASI                    Perfil:EVALUADORES
      </div>
      <div class="card-body" *ngIf="!mostrarPreguntas">
        <table class="table table-bordered table-hover">
          <thead class="bg-success">
            <tr>
              <th>Tipo de Actividad	 </th>
              <th>Materias	 </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alumno of alumnos">
              <td>{{ alumno.codigo }}</td>
              <td>{{ alumno.nombre }}</td>
              
             
              
                <td>Sin iniciar</td>
                <td>
                  <!-- Agregar botones de Bootstrap -->
                  <button class="btn btn-success" (click)="calificar()">Calificar</button>
  
               
                </td>
              
            </tr>
           
            <!-- Agregar más filas según sea necesario -->
          </tbody>
        </table>
      
    </div>
      </div>
      <div class="card-body" *ngIf="mostrarPreguntas">
        <!-- Componente de preguntas de evaluación -->
        <app-evaluacion></app-evaluacion>
      
      <div class="card-footer text-muted">
        2023
      </div>
    </div>
       
        