<div class="container">
  <h2><b>EVALUACIONES</b></h2>
  <h2><b>PERIODO: </b>{{ periodo.descripcion }}</h2>
  <div class="table-responsive custom-table-responsive">
  <table class="table custom-table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">ACTIVIDAD</th>
        <th scope="col">EVALUACION</th>
        <th scope="col">ESTADO</th> 
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let f of docFunciones">
        <tr scope="row">
          <td *ngIf="f.funcion.rol != 'Director'">{{ f.funcion.descripcion.toUpperCase() }}</td>

          <td *ngIf="f.funcion.rol == 'Docente'">AUTOEVALUACIÓN</td>
          <td *ngIf="f.funcion.rol == 'Coordinador'">COEVALUACIÓN POR PARES</td>

          <td *ngIf="f.funcion.rol == 'Docente'"><button class="btn btn-secondary" (click)="evaluacion(id, f.funcId)">Evaluar</button></td>
          <td *ngIf="f.funcion.rol == 'Coordinador'"><button class="btn btn-secondary" (click)="evaluacionPares(f.funcId)">Seleccionar</button></td>          
        </tr>
        <tr scope="row" *ngFor="let act of ['DOCENCIA', 'INVESTIGACIÓN', 'GESTIÓN', 'VINCULACIÓN']">
          <ng-container *ngIf="f.funcion.rol == 'Director'">
            <td>{{act}}</td>
            <td>COEVALUACIÓN DIRECTIVA</td>
            <td><button class="btn btn-secondary" (click)="evaluacionDirectiva(act.substring(0, 3))">Seleccionar</button></td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
  </div>
  <br>
</div>