<div class="container">
    <h2 class="mb-5">EVALUACIONES</h2>
    <button (click)="abrirFormulario()">Crear</button>
<br>
<br>
    <div class="table-responsive custom-table-responsive">
      <table class="table custom-table" style="text-align: center;">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">FECHA INICIO</th>
            <th scope="col">FECHA FIN</th>
            <th scope="col">PERIODO</th>
            <th scope="col">ESTADO</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let evaluacion of evaluaciones">
            <td>{{ evaluacion.id }}</td>
            <td>{{ evaluacion.evalFechaInicio | date:'dd/MM/yyyy' : '+0000'}}</td>
            <td>{{ evaluacion.evalFechaFin | date:'dd/MM/yyyy' : '+0000'}}</td>
            <td>{{ evaluacion.periodo.descripcion}}</td>
            <td>
              <label class="switch">
                <input type="checkbox" [id]="'switch'+evaluacion.id"   [checked]="getEstadoAsBoolean(evaluacion.estado)" (change)="cambiarEstado(evaluacion.id, evaluacion.perId, evaluacion.estado)">
                <span class="slider round"></span>
              </label>
            </td>
            <td>
              <button class="btn btn-secondary" (click)="actualizarPeriodo(evaluacion)">Editar</button>
              <button class="btn btn-danger" (click)="eliminarPeriodo(evaluacion.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
  </div>
  