.radio-buttons {
    display: flex;
    justify-content: space-around; /* Puedes ajustar según tus necesidades de diseño */
  }
  
  .radio-label {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  .progressBar {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .innerBar {
    height: 100%;
    background-color: #22a7ee;
  }
  
  /* Estilo opcional para resaltar la barra de progreso actual */
  .innerBar.current {
    background-color: #2196F3;
  }
  