<!-- HTML para mostrar la pregunta actual y las opciones de respuesta -->
<p><b style="font-size: 18px;">{{ formulario.nombre.toUpperCase() }}</b><br><br>
<b>Estudiante: </b>{{ alumno.nombres + " " + alumno.apellidos }}<br>
<b>Asignatura: </b>{{ curso.asignatura.nombre }} <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NRC: </b>{{ curso.nrc }}</p>
<div *ngIf="preguntas && preguntas.length > 0">
  <div *ngIf="preguntas && preguntas.length > 0">
    <p style="font-size: 18px; text-align: center;"><b>{{ preguntaActual + 1 }}. {{ preguntas[preguntaActual].texto }}</b></p>
    <div class="radio-buttons">
      <label *ngFor="let opcion of [1, 2, 3, 4, 5]" class="radio-label">
        <input
          type="radio"
          name="respuesta{{ preguntaActual }}"
          [value]="opcion"
          (change)="seleccionarRespuesta(opcion)"
          [checked]="preguntas[preguntaActual].respuestaSeleccionada === opcion"
        />
        {{ opcion }}
      </label>
    </div>
    <br>
    <div style="text-align: center;">
      <button *ngIf="preguntaActual < 4" class="btn btn-secondary" (click)="siguiente()" [disabled]="!isSelectAnswer()">Siguiente</button>
      <button *ngIf="preguntaActual == 4" class="btn btn-secondary" (click)="guardar()" [disabled]="!isSelectAnswer()">Guardar</button>
    </div>    
  </div>   
</div>