<!-- HTML para mostrar la pregunta actual y las opciones de respuesta -->
<p><b style="font-size: 18px;">HETEROEVALUACIÓN</b><br><br>
<b>Estudiante: </b>{{ alumno.nombres + " " + alumno.apellidos }}<br>
<b>Asignatura: </b>{{ curso.asignatura.nombre }} <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NRC: </b>{{ curso.nrc }}</p>
<div *ngIf="preguntas && preguntas.length > 0">
  <div *ngIf="preguntas && preguntas.length > 0">
    <p style="font-size: 18px; text-align: center;"><b>{{ preguntaActual + 1 }}. {{ preguntas[preguntaActual].texto }}</b></p>
    <div class="radio-buttons">
      <label *ngFor="let opcion of [1, 2, 3, 4, 5]" class="radio-label">
        <input
          type="radio"
          name="respuesta{{ preguntaActual }}"
          [value]="opcion"
          [checked]="preguntas[preguntaActual].respuestaSeleccionada === opcion"
          (change)="seleccionarRespuesta($event)"
        />
        {{ opcion }}
      </label>
    </div>
  </div>   
</div>